<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>
                <a class="nav-link" href="/ProductController1/Index/">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-product-hunt"></i></div>
                    Ürünler
                </a>

                <a class="nav-link" href="/Customer/Index/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-person"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-layer-group"></i></div>
                    Kategoriler
                </a>
                <a class="nav-link" href="/Job/Index/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user-doctor"></i></div>
                    Meslekler
                </a>
                <a class="nav-link" href="/ProductController1/AddProduct/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-cart-plus"></i></div>
                    Yeni Ürün Girişi
                </a>
                <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-question"></i></div>
                    Yardım
                </a>
                <a class="nav-link" href="/Login/LogOut/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-question"></i></div>
                    Çıkış Yap
                </a>
            </div>
        </div>
     
    </nav>
</div>